.Gilbeot_BI {
  font-family: "Gilbeot_BI";
}
.Gilbeot_Rainbow {
  font-family: "Gilbeot_Rainbow";
}
.Gilbeot_TG {
  font-family: "Gilbeot_TG";
}
.underline {
  /* text-decoration: underline; */
  border: none;
  border-bottom: 1px solid black;
}
.container {
  text-align: center;
  margin: 1em auto;
}
.link {
  font-size: 18px;
}
.canvas-container {
  border: 1px solid black;
  margin: 0 auto;
}
